{% extends 'homepage/base.html'%}

{% block content %}
{% load static %}


  <!-- Main body goes here -->
  <body id ="recover">
<div class="recover_container">
<p class="container_word"> Recover password </p>
    <div class="form">
      <label> Email</label>
      <input type="Email" placeholder="Enter your email address" />
      <a  href="{% url 'reset_link' %}" class="btn tetiary-btn">Send reset link</a>
      <p class="form_word"> You can also continue with email </p>
    </div>
  
 </div>


 {% endblock %}
</body>
