{% extends 'user_dashboard/dash_base.html' %}

{% block content %}

{% load static %}
          <!-- Main dashboard content starts here -->

          <div class="dashboard__main">
            <!-- code goes here-->
            <div class="dashboard__title">
              <h1>Dashboard</h1>
            </div>

            <div class="dashboard__subtitle">
              <h3>Active APIs</h3>
            </div>

              <section id="container">
                <article class="dropBox active-row">
                  
                  <!-- Single box -->
                  {% for context in object_list %}
                  <div class="dragBox active-box">
                    <div class="api__box">
                      <div class="api__box__shadow">
                        <div class="api__box__inner">
                          <div class="api__box__heading">
                              <h5>{{ context.title }}</h5>  
                              <!-- toggle -->
                              <div class="pretty p-switch p-fill">
                                <input type="checkbox" />
                                <div class="state p-success">
                                    <label></label>
                                </div>
                              </div>  
                          </div>
                          <div class="api__box__text">
                            <small>{{ context.description }}</small>
                          </div>
                          <div class="api__box__stats">
                            <p>Stats <br>
                              <span>{{ context.stats }}</span>
                            </p>
                          </div>
                          <div class="api__box__buttons">
                            <a href="{% url 'dashboard:configure_api' %}"><button class="primary-btn">Configure</button></a>
                            <!-- <input type="radio" name="" id=""> -->
                            <!-- success -->
                            <div class="prindex.html pretty p-default p-round p-toggle">
                              <input type="checkbox" />
                              <div class="state p-success p-on">
                                  <label></label>
                              </div>
                              <div class="state p-danger p-off">
                                  <label></label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- Single box end -->
                  {% endfor %}
                </article>

                <div class="search-box">
                  <div class="search-box__head">
                    <h3>Available APIs</h3>
                  </div>
                  <div class="search-box__input">
                    <label for="search">
                      <i class="fas fa-search"></i>
                      <input type="text" placeholder="Search for APIs">
                    </label>
                  </div>
                </div>
                
                <article class="dropBox inactive-row">
                  
                  <!-- Single box -->
                  <div class="dragBox inactive-box">
                    <div class="api__box">
                      <div class="api__box__shadow">
                        <div class="api__box__inner">
                          <div class="api__box__heading">
                            <h5>User API</h5>
                            <!-- toggle -->
                            <div class="pretty p-switch p-fill">
                              <input type="checkbox" />
                              <div class="state p-success">
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="api__box__text">
                            <small>For users</small>
                          </div>
                          <div class="api__box__stats">
                            <p>Stats <br>
                              <span>4/hr</span>
                            </p>
                          </div>
                          <div class="api__box__buttons">
                            <a href="{% url 'dashboard:configure_api' %}"><button class="secondary-btn">+ Add API</button></a>
                            <!-- <input type="radio" name="" id=""> -->
                            <!-- success -->
                            <div class="prindex.html pretty p-default p-round p-toggle">
                              <input type="checkbox" />
                              <div class="state p-success p-on">
                                <label></label>
                              </div>
                              <div class="state p-danger p-off">
                                <label></label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- Single box end -->

                  <!-- Single box -->
                  <div class="dragBox inactive-box">
                    <div class="api__box">
                      <div class="api__box__shadow">
                        <div class="api__box__inner">
                          <div class="api__box__heading">
                            <h5>AWS API</h5>
                            <!-- toggle -->
                            <div class="pretty p-switch p-fill">
                              <input type="checkbox" />
                              <div class="state p-success">
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="api__box__text">
                            <small>To host</small>
                          </div>
                          <div class="api__box__stats">
                            <p>Stats <br>
                              <span>4/hr</span>
                            </p>
                          </div>
                          <div class="api__box__buttons">
                            <a href="{% url 'dashboard:configure_api' %}"><button class="secondary-btn">+ Add API</button></a>
                            <!-- <input type="radio" name="" id=""> -->
                            <!-- success -->
                            <div class="prindex.html pretty p-default p-round p-toggle">
                              <input type="checkbox" />
                              <div class="state p-success p-on">
                                <label></label>
                              </div>
                              <div class="state p-danger p-off">
                                <label></label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- Single box end -->

                  <!-- Single box -->
                  <div class="dragBox inactive-box">
                    <div class="api__box">
                      <div class="api__box__shadow">
                        <div class="api__box__inner">
                          <div class="api__box__heading">
                            <h5>Cert API</h5>
                            <!-- toggle -->
                            <div class="pretty p-switch p-fill">
                              <input type="checkbox" />
                              <div class="state p-success">
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="api__box__text">
                            <small>To print certificates</small>
                          </div>
                          <div class="api__box__stats">
                            <p>Stats <br>
                              <span>4/hr</span>
                            </p>
                          </div>
                          <div class="api__box__buttons">
                            <a href="{% url 'dashboard:configure_api' %}"><button class="secondary-btn">+ Add API</button></a>
                            <!-- <input type="radio" name="" id=""> -->
                            <!-- success -->
                            <div class="prindex.html pretty p-default p-round p-toggle">
                              <input type="checkbox" />
                              <div class="state p-success p-on">
                                <label></label>
                              </div>
                              <div class="state p-danger p-off">
                                <label></label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- Single box end -->

                  <!-- Single box -->
                  <div class="dragBox inactive-box">
                    <div class="api__box">
                      <div class="api__box__shadow">
                        <div class="api__box__inner">
                          <div class="api__box__heading">
                            <h5>Receipt API</h5>
                            <!-- toggle -->
                            <div class="pretty p-switch p-fill">
                              <input type="checkbox" />
                              <div class="state p-success">
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="api__box__text">
                            <small>For business</small>
                          </div>
                          <div class="api__box__stats">
                            <p>Stats <br>
                              <span>4/hr</span>
                            </p>
                          </div>
                          <div class="api__box__buttons">
                            <a href="{% url 'dashboard:configure_api' %}"><button class="secondary-btn">+ Add API</button></a>
                            <!-- <input type="radio" name="" id=""> -->
                            <!-- success -->
                            <div class="prindex.html pretty p-default p-round p-toggle">
                              <input type="checkbox" />
                              <div class="state p-success p-on">
                                <label></label>
                              </div>
                              <div class="state p-danger p-off">
                                <label></label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- Single box end -->

                </article>
                
              </section>


            </div>
          </div>
        </div>
    </div>

{% endblock %}